
@using ALL_MVC_ALL.Models

@section topCSS{

}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand col-1" href="~/Home/Index">
        <img src="~/Assest/img/下載.png" alt="">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="col-11 collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto  ml-auto col-9">
            <li class="nav-item active">
                <a class="nav-link new" href="~/CreatProductList/New">New <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/CreatProductList/Bestsellers">Bestsellers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/Sofas">Sofas<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Sofas And Sleeper", "Category", "CreatProductList", new { type = 1 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Sectional Sofas", "Category", "CreatProductList", new { type = 2 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/Chairs">Chairs<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Lounge Chairs", "Category", "CreatProductList", new { type = 3 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Ottomans And Stools", "Category", "CreatProductList", new { type = 4 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Benches", "Category", "CreatProductList", new { type = 5 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Kids-Chairs", "Category", "CreatProductList", new { type = 6 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/Tables">Tables<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Accent And Coffee Tables", "Category", "CreatProductList", new { type = 7 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Office-Desks And Tables", "Category", "CreatProductList", new { type = 8 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Kids-Desk", "Category", "CreatProductList", new { type = 9 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/Beds">Beds<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Bedroom-Beds", "Category", "CreatProductList", new { type = 10 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Kids-Beds", "Category", "CreatProductList", new { type = 11 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/CabinetAndDressingtable">Cabinet And Dressingtable<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Dressers", "Category", "CreatProductList", new { type = 12 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Bookcases", "Category", "CreatProductList", new { type = 13 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active drop-down-menu">
                <a class="nav-link active" href="~/ProductIntroduction/Accessories">Accessories<span class="sr-only">(current)</span></a>
                <ul class="hidden">
                    <li>
                        @Html.ActionLink("Rugs", "Category", "CreatProductList", new { type = 14 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Pillows And Cushionss", "Category", "CreatProductList", new { type = 15 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Mirrors", "Category", "CreatProductList", new { type = 16 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                    <li>
                        @Html.ActionLink("Bedding", "Category", "CreatProductList", new { type = 17 }, new { sortOrder = ViewBag.ResetParm })
                    </li>
                </ul>
            </li>
            <li class="nav-item active">
                @Html.ActionLink("Lighting", "Category", "CreatProductList", new { type = 18 }, new { @class = "nav-link" })<span class="sr-only">(current)</span>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Home/About">About<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="nav_icon" id="UserType">


            <a id="loginBtn">@Html.Partial("_LoginPartial")</a>
            


            <a href="" class="search"><i class="fas fa-search"></i></a>
            <button id="btn" for="check" onclick="shop()">
                <i class="fas fa-shopping-cart"></i>
            </button>
            <input type="checkbox" id="check">
            <div class="transparent">

            </div>
            <div class="shop" id="shop">

                <button id="close" type="button" class="close" aria-label="Close" onclick="shop()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="Cart">
                    @Html.Partial("_CartPartial")
                </div>
            </div>
        </div>
    </div>


</nav>



